.beerContainer {
  display: grid;
  text-align: center;
}

.singleBeer {
  border: 1px solid black;
  width: 600px;
  height: 350px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 5px;
  justify-content: center;
  padding: auto;
}

.singleBeerDroppedDown {
  border: 1px solid black;
  width: 600px;
  height: 500px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 5px;
  justify-content: center;
  padding: auto;
}

.beerInfo {
  grid-column: 1 / span 3;
}

.beerImg {
  margin-left: 50px;
  grid-column: 4 / span 2;
}

img {
  height: 15vw;
  width: 5vw;
  margin-top: 1vw;
}

li {
  display: inline-block;
  margin: 5px;
  margin-top: 5px;
}

body {
  text-align: center;
}

.pag-active {
  background-color: rgba(43, 125, 226, 0.693);
  border: rgb(236, 239, 239);
  border-radius: 10%;
  height: 20px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.pag-inactive {
  background-color: rgb(236, 239, 239);
  border: rgb(236, 239, 239);
  border-radius: 10%;
  height: 20px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
